{% extends 'base.html' %}

{% block content %}

<h1>HireIQ</h1>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        Analyze Candidates
    </button>

</form>

{% if rankings %}

    <h2>Candidate Rankings</h2>

    <table border="1">

        <tr>
            <th>Candidate</th>
            <th>Score</th>
        </tr>

        {% for candidate in rankings %}

        <tr>
            <td>{{ candidate.candidate_name }}</td>
            <td>{{ candidate.score }}%</td>
        </tr>

        {% endfor %}

    </table>

{% endif %}

{% endblock %}